CREATE DATABASE IF NOT EXISTS crud;
USE crud;

DROP TABLE IF EXISTS usuarios;

CREATE TABLE usuarios (
  id INT NOT NULL AUTO_INCREMENT,
  nome VARCHAR(100) NOT NULL,
  email VARCHAR(100) NOT NULL,
  data_nascimento DATE NOT NULL,
  senha VARCHAR(255) DEFAULT NULL,
  PRIMARY KEY (id)
)